/* Teacher.css */

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #69bb27;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3498db;
  }
  
  .containerHeadingBox {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .inputBox {
    margin-bottom: 20px;
  }
  
  label {
    display: flex;
    align-items: center;
    color: #555;
  }
  
  input {
    width: 50%;
    padding: 5px;
    margin-top: 25px;
    border: 1px solid #247bb6;
    border-radius: 24px;
    box-sizing: border-box;
  }
  
  #login {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #login:hover {
    background-color: #45a049;
  }
  
  #signup {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
  }
  
  #signup a,
  #goBackLink {
    margin-left: 5px;
    color: #3498db;
    text-decoration: none;
  }
  
  #signup a:hover,
  #goBackLink:hover {
    text-decoration: underline;
    color: #1e87f0;
  }
  